In [1]:
import pandas as pd
import sqlite3

In [2]:

file = '/workspaces/api-bolsa/data/moeda/cotacao_atual_20231210_200000.csv'
df = pd.read_csv(file, delimiter=';', index_col=False)

print(df.columns)  # Exibe os nomes das colunas do DataFrame

Index(['Unnamed: 0', 'USDBRL', 'EURBRL', 'BTCBRL', 'USDBRLT', 'dt_igtao'], dtype='object')

In [4]:
# import csv

# input_file = '/workspaces/api-bolsa/data/bovespa/Dados_BVSP_20231209_164453.txt'
# new_file = '/workspaces/api-bolsa/data/bovespa/'
# name = 'Dados_BVSP_20231209_164453.txt'

# output_file = new_file + name

# # Open the input file for reading and the output file for writing
# with open(input_file, 'r') as f_in, open(output_file, 'w', newline='') as f_out:
#     # Create a CSV reader and writer, specifying the current delimiter and the new delimiter
#     reader = csv.reader(f_in, delimiter=',')
#     writer = csv.writer(f_out, delimiter=';')
    
#      # Iterate through each row in the input file, convert the delimiter, and write to the output file
#     for row in reader:
#         writer.writerow(row)
#         print(row)

In [28]:
file = '/workspaces/api-bolsa/data/bovespa/Dados_BVSP_20231210_233856.txt'
delimitador = ';'

df = pd.read_csv(file, delimiter=delimitador )
display(df)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-11-10,"119,036.00","120,823.00","119,036.00","120,636.00","120,636.00",0.00
1,2023-11-13,"120,561.00","120,606.00","119,878.00","120,376.00","120,376.00","11,198,000.00"
2,2023-11-14,"120,411.00","123,370.00","120,411.00","123,328.00","123,328.00","19,427,900.00"
3,2023-11-16,"123,165.00","124,737.00","123,165.00","124,576.00","124,576.00","18,355,600.00"
4,2023-11-17,"124,639.00","125,431.00","124,547.00","125,062.00","125,062.00","15,719,100.00"
5,2023-11-20,"124,773.00","126,162.00","124,773.00","126,095.00","126,095.00","11,108,500.00"
6,2023-11-21,"125,957.00","125,957.00","125,060.00","125,607.00","125,607.00","10,793,500.00"
7,2023-11-22,"125,626.00","126,875.00","125,439.00","126,035.00","126,035.00","14,058,500.00"
8,2023-11-23,"126,035.00","126,760.00","125,764.00","126,576.00","126,576.00","7,816,400.00"
9,2023-11-24,"126,553.00","126,553.00","125,341.00","125,542.00","125,542.00","9,613,100.00"
10,2023-11-27,"125,517.00","125,826.00","124,840.00","125,683.00","125,683.00","11,013,800.00"
11,2023-11-28,"125,726.00","126,916.00","125,388.00","126,538.00","126,538.00","12,394,200.00"
12,2023-11-29,"126,541.00","127,388.00","126,018.00","126,101.00","126,101.00","12,417,500.00"
13,2023-11-30,"126,168.00","127,399.00","126,168.00","127,331.00","127,331.00","19,238,400.00"
14,2023-12-01,"127,331.00","128,165.00","126,656.00","128,103.00","128,103.00","13,696,500.00"
15,2023-12-04,"128,183.00","128,183.00","126,643.00","126,803.00","126,803.00","10,270,500.00"
16,2023-12-05,"126,802.00","127,489.00","126,491.00","126,903.00","126,903.00","11,960,300.00"
17,2023-12-06,"126,907.00","127,538.00","125,614.00","125,623.00","125,623.00","10,837,300.00"
18,2023-12-07,"125,623.00","126,581.00","125,566.00","126,010.00","126,010.00","10,505,300.00"
19,2023-12-08,"126,010.00","127,289.00","125,562.00","127,094.00","127,094.00","10,745,300.00"

In [8]:
destino = '/workspaces/api-bolsa/database/db/dtbase_cotacaoMoeda.sqlite'
conn = sqlite3.connect(destino)
cur = conn.cursor()

In [9]:
# Comando para excluir a tabela
cur.execute('DROP TABLE IF EXISTS dtbase_cotacaoMoeda.sqlite')

In [ ]:
cur.execute(''' CREATE TABLE tb_bovesp (
    Data date, -- Data 
    Open float, -- Abertura
    High float, -- Alta
    Low float, -- Baixa
    Close float, -- Fechamento
    Adj Close float, -- Fechamento ajuste
    Volume float -- Volume 
);  
            ''')

In [30]:
df.to_sql('tb_bovesp', conn, if_exists='append', index=False)

20

In [31]:
cur.execute("SELECT Date FROM tb_bovesp;")
rows = cur.fetchall()


for row in rows:
    print(row)

('2023-11-10',)
('2023-11-13',)
('2023-11-14',)
('2023-11-16',)
('2023-11-17',)
('2023-11-20',)
('2023-11-21',)
('2023-11-22',)
('2023-11-23',)
('2023-11-24',)
('2023-11-27',)
('2023-11-28',)
('2023-11-29',)
('2023-11-30',)
('2023-12-01',)
('2023-12-04',)
('2023-12-05',)
('2023-12-06',)
('2023-12-07',)
('2023-12-08',)

In [24]:
cur.execute("SELECT * FROM tb_bovesp;")

rows = cur.fetchall()


for row in rows:
    print(row)

('2023-11-10', '119,036.00', '120,823.00', '119,036.00', '120,636.00', '120,636.00', '0.00')
('2023-11-13', '120,561.00', '120,606.00', '119,878.00', '120,376.00', '120,376.00', '11,198,000.00')
('2023-11-14', '120,411.00', '123,370.00', '120,411.00', '123,328.00', '123,328.00', '19,427,900.00')
('2023-11-16', '123,165.00', '124,737.00', '123,165.00', '124,576.00', '124,576.00', '18,355,600.00')
('2023-11-17', '124,639.00', '125,431.00', '124,547.00', '125,062.00', '125,062.00', '15,719,100.00')
('2023-11-20', '124,773.00', '126,162.00', '124,773.00', '126,095.00', '126,095.00', '11,108,500.00')
('2023-11-21', '125,957.00', '125,957.00', '125,060.00', '125,607.00', '125,607.00', '10,793,500.00')
('2023-11-22', '125,626.00', '126,875.00', '125,439.00', '126,035.00', '126,035.00', '14,058,500.00')
('2023-11-23', '126,035.00', '126,760.00', '125,764.00', '126,576.00', '126,576.00', '7,816,400.00')
('2023-11-24', '126,553.00', '126,553.00', '125,341.00', '125,542.00', '125,542.00', '9,613,100.00')
('2023-11-27', '125,517.00', '125,826.00', '124,840.00', '125,683.00', '125,683.00', '11,013,800.00')
('2023-11-28', '125,726.00', '126,916.00', '125,388.00', '126,538.00', '126,538.00', '12,394,200.00')
('2023-11-29', '126,541.00', '127,388.00', '126,018.00', '126,101.00', '126,101.00', '12,417,500.00')
('2023-11-30', '126,168.00', '127,399.00', '126,168.00', '127,331.00', '127,331.00', '19,238,400.00')
('2023-12-01', '127,331.00', '128,165.00', '126,656.00', '128,103.00', '128,103.00', '13,696,500.00')
('2023-12-04', '128,183.00', '128,183.00', '126,643.00', '126,803.00', '126,803.00', '10,270,500.00')
('2023-12-05', '126,802.00', '127,489.00', '126,491.00', '126,903.00', '126,903.00', '11,960,300.00')
('2023-12-06', '126,907.00', '127,538.00', '125,614.00', '125,623.00', '125,623.00', '10,837,300.00')
('2023-12-07', '125,623.00', '126,581.00', '125,566.00', '126,010.00', '126,010.00', '10,505,300.00')
('2023-12-08', '126,010.00', '127,289.00', '125,562.00', '127,094.00', '127,094.00', '10,745,300.00')

In [25]:
cur.close()

In [26]:
import shutil

diretorio = '/workspaces/api-bolsa/code/dtbase_bolsa.db'
diretorio_destino = '/workspaces/api-bolsa/database/db/dtbase_bolsa.db'

shutil.move(diretorio, diretorio_destino)
print(f'Arquivo movido para {diretorio_destino}')

Arquivo movido para /workspaces/api-bolsa/database/db/dtbase_bolsa.db

In [14]:
for row in df:
    cur.execute("INSERT INTO tb_bovesp (Data, Open, High, Low, Close, `Adj Close`, Volume) VALUES (?, ?, ?, ?, ?, ?, ?)", 
                (row['Data'], row['Open'], row['High'], row['Low'], row['Close'], row['Adj Close'], row['Volume']))
    conn.commit()

TypeError: string indices must be integers

In [13]:
for row in df:
   cur.execute("INSERT INTO tb_bovesp (Data, Open, High, Low, Close, Adj Close, Volume")
   # conn.commit()

OperationalError: near "Close": syntax error

In [5]:
import os
import pandas as pd
import sqlite3

# Diretório contendo os arquivos CSV
diretorio_txt = '/workspaces/api-bolsa/data/acoes'

# Arquivo SQLite onde você deseja armazenar os dados
caminho_banco_dados = '/workspaces/api-bolsa/database/db/tb_acoes.sqlite'

# Conectar ao banco de dados SQLite
conn = sqlite3.connect(caminho_banco_dados)

# Listar os arquivos TXT no diretório
arquivos_txt = [arquivo for arquivo in os.listdir(diretorio_txt) if arquivo.endswith('.txt')]

# Para cada arquivo TXT, criar uma tabela correspondente no banco de dados e inserir os dados
for arquivo in arquivos_txt:
    nome_tabela = os.path.splitext(arquivo)[0]  # Nome da tabela será o nome do arquivo sem extensão
    caminho_arquivo_txt = os.path.join(diretorio_txt, arquivo)
    
    # Ler o arquivo TXT usando o Pandas com delimitador de espaço
    df = pd.read_csv(caminho_arquivo_txt, delimiter='\t', engine='python')
    
    # Inserir os dados do arquivo TXT na tabela correspondente no banco de dados
    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

# Fechar a conexão com o banco de dados
conn.close()

In [3]:
import os
import pandas as pd
import sqlite3

# Diretório contendo os arquivos CSV
diretorio_csv = '/workspaces/api-bolsa/data/acoes'

# Arquivo SQLite onde você deseja armazenar os dados
caminho_banco_dados = '/workspaces/api-bolsa/database/db/tb_acoes.sqlite'

# Conectar ao banco de dados SQLite
conn = sqlite3.connect(caminho_banco_dados)

# Listar os arquivos CSV no diretório
arquivos_csv = [arquivo for arquivo in os.listdir(diretorio_csv) if arquivo.endswith('.csv')]

# Para cada arquivo CSV, criar uma tabela correspondente no banco de dados e inserir os dados
for arquivo in arquivos_csv:
    nome_tabela = os.path.splitext(arquivo)[0]  # Nome da tabela será o nome do arquivo sem extensão
    caminho_arquivo_csv = os.path.join(diretorio_csv, arquivo)
    
    # Ler o arquivo CSV usando o Pandas
    df = pd.read_csv(caminho_arquivo_csv)
    
    # Inserir os dados do arquivo CSV na tabela correspondente no banco de dados
    df.to_sql(nome_tabela, conn, if_exists='append', index=False)

# Fechar a conexão com o banco de dados
conn.close()

In [4]:
import os
import pandas as pd
import sqlite3

# Diretório contendo os arquivos CSV
diretorio_csv = '/workspaces/api-bolsa/data/acoes'

# Arquivo SQLite onde você deseja armazenar os dados
caminho_banco_dados = '/workspaces/api-bolsa/database/db/tb_acoes.sqlite'

# Conectar ao banco de dados SQLite
conn = sqlite3.connect(caminho_banco_dados)

# Listar os arquivos CSV no diretório
arquivos_csv = [arquivo for arquivo in os.listdir(diretorio_csv) if arquivo.endswith('.txt')]

# Para cada arquivo CSV, criar uma tabela correspondente no banco de dados e inserir os dados
for arquivo in arquivos_csv:
    nome_tabela = os.path.splitext(arquivo)[0]  # Nome da tabela será o nome do arquivo sem extensão
    caminho_arquivo_csv = os.path.join(diretorio_csv, arquivo)
    
    # Ler o arquivo CSV usando o Pandas
    df = pd.read_csv(caminho_arquivo_csv)
    
    # Inserir os dados do arquivo CSV na tabela correspondente no banco de dados
    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

# Fechar a conexão com o banco de dados
conn.close()